/**
 * Project - Hero
 */

.hero {
  @include container();
  height: 18rem;
  margin: $headerHeight auto;

  @media (min-width: breakpoint("md")) {
    height: 27rem;
  }

  @media (min-width: breakpoint("md")) {
    height: 36rem;
  }

  &__content {
    height: 100%;
    border-radius: space(3);
    overflow: hidden;
  }
}
