/**
 * Component - Cover
 */

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background: linear-gradient(rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0)), url("./assets/header_bg.jpg") no-repeat center center / cover scroll;
    //filter: $blur;
    //background-image: url("./assets/story_00.jpg");
    background-position: center center;
    background-size: cover;
    transition: 1s linear opacity;

    // Fader用クラス
    // 画像の数とパスを設定
    &.--num_1 {
      background-image: url("./assets/story_01.jpg");
    }
    &.--num_2 {
      background-image: url("./assets/story_07.jpg");
    }
    &.--num_3 {
      background-image: url("./assets/story_10.jpg");
    }
    &.--num_4 {
      background-image: url("./assets/story_11.jpg");
    }
    
    &.--fade {
      opacity: 0;
      transition: none;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      width: 21rem;
      height: 1.5rem;
      margin: auto;
      padding: 0 12px;
      background-color: rgba(0,0,0,.15);
      color: themeColor("lightest");
      font-family: $fontFamilySerif;
      font-weight: $fontWeightSerif;
      font-size: $h3FontSize;
      text-align: center;
      line-height: 1.5rem;
      box-shadow: 0 0 6px 3px rgba(0,0,0,.15);
    }
  }

  // Preloader用クラス
  .preloader & {
    //opacity: 0; // Preloader稼働前は透過

    .--loaded & {
      //opacity: 1; // イメージを読み込んだら透過を解除
    }
  }
}
